# Dependencias de Node
node_modules/

# Archivos de entorno
.env

# Archivos de credenciales de Firebase
firebaseServiceAccount.json

# Archivos de compilación de TypeScript
dist/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración específicos del editor
.vscode/
.idea/
*.log
